body {
    font-family: Arial, sans-serif;
    background-color:#a8e6cf ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0e9aa7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #0f0052;
}

.input-field {
    padding: 10px;
    border: 1px solid #4b0909;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.convert-button, .reset-button, .swap-button, .copy-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 30%;
    box-sizing: border-box;
}

.convert-button {
    background-color: #28a745;
    color: white;
}
.convert-button:active {
    background-color: #123a5e;
    transform: scale(0.98);
}
.convert-button.copied {
    background-color: #28a745;
    color: white;
}
.reset-button {
    background-color: #154976;
    color: white;
}
.reset-button:active {
    background-color: #123a5e;
    transform: scale(0.98);
}

.reset-button.copied {
    background-color: #28a745;
    color: white;
}


.copy-button {
    padding: 10px;
    width: 100%;
    background-color: #154976;
    color: rgb(227, 224, 233);
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.copy-button:active {
    background-color: #123a5e;
    transform: scale(0.98);
}

.copy-button.copied {
    background-color: #28a745;
    color: white;
}

.result-field {
    padding: 10px;
    border: 1px solid
}
#base2{
    background-color: #58668b;
}
#base1{
    background-color:  #58668b;
}

